<tr id="{{member.id}}" class="h-full overflow-scroll" hx-target="this" hx-swap="outerHTML">
    <td colspan="3" style="padding: 0px;">
        <div class="flex mainInfo h-full {% if unfolded %} bg-base-100 {% endif %} hover:bg-base-200 hover:cursor-pointer"
            {% if 'Bureau' in connectedMember.role or 'Coach' in connectedMember.role %}
            hx-on:click="this.nextElementSibling.classList.toggle('hidden'); this.classList.toggle('bg-base-100')" {%
            endif %}>
            <div class="w-3/5 py-4 px-3">
                <div class="flex items-center gap-4 sm:gap-8 md:gap-16 lg:gap-20">
                    <div class="w-1/5 avatar">
                        {% if member.picture %}
                        <div class="mask mask-squircle w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20">
                            <img src="images/idPictures/{{member.picture}}" alt="Avatar" />
                        </div>
                        {% else %}
                        <div class="mask mask-squircle w-12 h-12">
                            <img src="images/avatar.svg" alt="Avatar" />
                        </div>
                        {% endif %}
                    </div>
                    <div class="w-1/5 overflow-auto">
                        <div class="font-light">{{member.pronoun}}</div>
                    </div>
                    <div class="w-3/5 overflow-auto">
                        <div class="font-bold">{{member.derbyName}}</div>
                        <div class="text-sm opacity-50">{{member.firstName}} {{member.name}}</div>
                        {% if member.playerNumber %}
                        <div class="text-sm opacity-50">N°{{member.playerNumber}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="w-1/5 py-4 px-3">
                <div class="flex items-center justify-center overflow-auto h-full">
                    {{member.team.name}}
                </div>
            </div>
            <div class="w-1/5 py-4 px-3">
                {% if member.role %}
                <div class="font-bold flex flex-col items-center justify-center gap-2">
                    {% for role in member.role %}
                    {% if role == "Bureau" %}
                    <div class="badge badge-primary badge-xs sm:badge-sm md:badge-md lg:badge-lg">{{role}}</div>
                    {% endif %}
                    {% if role == "CA" %}
                    <div class="badge badge-secondary badge-xs sm:badge-sm md:badge-md lg:badge-lg">{{role}}</div>
                    {% endif %}
                    {% if role == "Coach" %}
                    <div class="badge badge-accent badge-xs sm:badge-sm md:badge-md lg:badge-lg">{{role}}</div>
                    {% endif %}
                    {% if role == "" %}
                    <div class="badge badge-neutral">Membre</div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="font-bold flex items-center justify-center gap-2">
                    <div class="badge badge-neutral">Membre</div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="additionalInfo h-full bg-base-100 {% if not unfolded %} hidden {% endif %}">
            {% if "Bureau" in roles or "Coach" in roles %}
            <div class="h-full">
                <div class="flex flex-col sm:flex-row justify-around items-center sm:items-start gap-4 h-full p-2">
                    <!-- Coach -->
                    <div class="flex flex-col w-full h-full sm:w-1/2">
                        <div class="flex justify-between items-center gap-4 h-1/6">
                            <p>Email:</p>
                            <p class="opacity-50">{{member.mail}}</p>
                        </div>
                        <div class="flex justify-between items-center gap-4 h-1/6">
                            <p>Tel:</p>
                            <p class="opacity-50 gap-4">{{member.phone}}</p>
                        </div>
                        <div class="flex justify-between gap-4 min-h-20">
                            <p>Médical:</p>
                            {% if member.medicalInfos %}
                            <p class="opacity-50">{{member.medicalInfos}}</p>
                            {% else %}
                            <p class="opacity-50">/</p>
                            {% endif %}

                        </div>
                        <div class="flex justify-between items-center gap-4 h-1/6">
                            <p>Contact Urgence:</p>
                            <p class="opacity-50">{{member.emergencyContactName}}</p>
                        </div>
                        <div class="flex justify-between items-center gap-4 h-1/6">
                            <p>Contact Urgence Tel:</p>
                            <p class="opacity-50">{{member.emergencyContactPhone}}</p>
                        </div>
                    </div>

                    {% if "Bureau" in roles %}
                    <!-- Bureau -->
                    <div class="w-full sm:w-1/2">
                        <div class="flex justify-between">
                            <p>Joue en mixte:</p>
                            {% if member.acceptsMixedGender %}
                            <p class="opacity-50">Oui</p>
                            {% else %}
                            <p class="opacity-50">Non</p>
                            {% endif %}
                        </div>
                        <div class="flex justify-between">
                            <p>Certificat médical:</p>
                            {% if medicalCertificat %}
                            <p class="opacity-50">{{member.medicalCertificat|date('d-m-Y')}}</p>
                            {% else %}
                            <p class="opacity-50">/</p>
                            {% endif %}

                        </div>
                        <div class="flex justify-between">
                            <p>N° de licence:</p>
                            {% if member.licenceNumber %}
                            <p class="opacity-50">{{member.licenceNumber}}</p>
                            {% else %}
                            <p class="opacity-50">/</p>
                            {% endif %}
                        </div>
                        <div class="flex justify-between">
                            <p>MS theorique:</p>
                            {% if member.theoreticalMS %}
                            <p class="opacity-50">{{member.theoreticalMS|date('d-m-Y')}}</p>
                            {% else %}
                            <p class="opacity-50">/</p>
                            {% endif %}
                        </div>
                        <div class="flex justify-between">
                            <p>MS pratique:</p>
                            {% if member.practicalMS %}
                            <p class="opacity-50">{{member.practicalMS|date('d-m-Y')}}</p>
                            {% else %}
                            <p class="opacity-50">/</p>
                            {% endif %}
                        </div>
                        <div class="flex justify-between">
                            <p>Adresse:</p>
                            <p class="opacity-50">{{member.address}}</p>
                        </div>
                        <div class="flex justify-between">
                            <p>Code postal:</p>
                            <p class="opacity-50">{{member.zipCode}}</p>
                        </div>
                        <div class="flex justify-between">
                            <p>Ville:</p>
                            <p class="opacity-50">{{member.city}}</p>
                        </div>
                        <div class="flex justify-between">
                            <p>Date de naissance:</p>
                            <p class="opacity-50">{{member.birthday|date('d-m-Y')}}</p>
                        </div>
                        <div class="flex justify-between">
                            <p>Lieu de naissance:</p>
                            <p class="opacity-50">{{member.birthplace}}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if "Bureau" in roles %}
                <div class="flex justify-center gap-4 pb-2">
                    <button type="button" class="btn btn-xs sm:btn-sm btn-info"
                        hx-get="/edit-member-form/{{member.id}}">Editer</button>
                    <button type="button" class="btn btn-xs sm:btn-sm btn-error"
                        hx-delete="/delete-member/{{member.id}}"
                        hx-confirm="êtes-vous sûr•e de vouloir supprimer {{member.firstName}} {{member.name}} ?"
                        hx-target="closest tr" hx-swap="outerhtml swap:1s">Supprimer</button>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </td>
</tr>
