<div class="modal-box max-w-screen-sm" id="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" hx-get="/cancel-create-event"
            hx-target="#modalEvent" hx-swap="outerHTML">✕</button>
    </form>
    <div class="flex flex-col items-center justify-center w-full prose">
        <h3>Entrainement</h3>
        <div class="w-full bg-base-300 p-4">
            <div class="w-full">
                <h4 class="mt-0">Horaires : </h4>
                <p>{{training.start | french_date}} - {{training.end | french_date}}</p>
            </div>
            <div class="w-full">
                <h4>Lieu : </h4>
                <p>{{training.place}}</p>
            </div>
            <div class="w-full flex flex-col justify-center items-center">
                <div>
                    {% if userInTraining %}
                    <button id="withdraw" class="btn btn-error btn-sm md:btn-md" type="button"
                        hx-get="/withdraw-from-training/{{training.id}}" hx-target="#id_{{connectedMember}}"
                        hx-swap="outerHTML swap:1s" hx-confirm="Confirmez-vous votre désinscription ?">Se
                        désinscrire</button>
                    {% else %}
                    <button id="attend" class="btn btn-primary btn-sm md:btn-md" type="button"
                        hx-get="/attend-training/{{training.id}}" hx-target="next tbody" hx-swap="afterbegin"
                        hx-confirm="Confirmez-vous votre participation ?">Participer
                        !</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full border-opacity-50">
            <div class="divider">Participant•e•s: </div>
        </div>
        <div class="w-full">
            <table class="table table-xs sm:table-sm md:table-md lg:table-lg w-full mt-0">
                <thead class="sticky -top-6 z-10">
                    <tr class="bg-base-100">
                        <th>Nom</th>
                        <th>Equipe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendee in training.attendees %}
                    {% include "calendar/_trainingAttendeeElmt.html.twig" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
