<div class="modal-box max-w-screen-sm" id="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" hx-get="/cancel-create-event"
            hx-target="#modalEvent" hx-swap="outerHTML">✕</button>
    </form>
    <div class="flex flex-col items-center justify-center w-full prose">
        <h3>Match</h3>
        <div class="w-full bg-base-300 p-4">
            <div class="w-full flex flex-col items-center justify-center">
                {% if match.matchType == "Championnat" %}
                <div class="badge badge-success badge-outline lg:badge-lg">
                    {{match.matchType}}
                </div>
                {% endif %}
                {% if match.matchType == "Amical" %}
                <div class="badge badge-info badge-outline lg:badge-lg">
                    {{match.matchType}}
                </div>
                {% endif %}
                <h4 class="w-full flex">
                    <div class="w-2/5 text-center">{{match.team.name}}</div>
                    <div class="w-1/5 text-center italic">- VS -</div>
                    <div class="w-2/5 text-center">{{match.opponent}}</div>
                </h4>
            </div>
            <div class="w-full">
                <h4>Horaires : </h4>
                <p>{{match.start | french_date}} - {{match.end | french_date}}</p>
            </div>
            <div class="w-full">
                <h4>Lieu : </h4>
                <p>{{match.place}}</p>
                {% if match.mapLink.type == "iframe" %}
                <iframe src="{{match.mapLink.value}}" class="w-full aspect-[4/3]" style="border:0;" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                {% else %}
                <p class="mt-0"><a class="link link-primary" href="{{match.mapLink.value}}" target="_blank"
                        rel="noopener noreferrer">Lien maps</a></p>
                {% endif %}

            </div>
            <div class="w-full">
                <h4>Informations sur l'évènement</h4>
                <p>{{match.instructions}}</p>
            </div>
            <div class="w-full">
                <h4>Limite d'inscription : </h4>
                <p class="text-red-400">{{match.registrationDeadline | french_date}}</p>
            </div>
            <div class="w-full flex justify-center items-center">
                <button class="btn btn-secondary btn-sm md:btn-md" type="button">Participer !</button>
            </div>
        </div>
        <div class="flex flex-col w-full border-opacity-50">
            <div class="divider">Participant•e•s: </div>
        </div>
        <div class="w-full">
            <table class="table table-xs sm:table-sm md:table-md lg:table-lg w-full mt-0">
                <thead class="sticky top-0 z-10">
                    <tr>
                        <th>Nom</th>
                        <th>Equipe</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
