<div class="modal-box max-w-screen-sm" id="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-4 top-4" hx-get="/cancel-create-event"
            hx-target="#modalEvent" hx-swap="outerHTML">✕</button>
        {% if "Bureau" in connectedMember.role %}
        <div class="dropdown absolute left-4 top-4">
            <div tabindex="0" role="button" class="btn btn-sm btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block w-5 h-5 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                    </path>
                </svg>
                </button>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-1 z-[1] p-2 shadow bg-base-200 rounded-box w-52">
                <li class="text-blue-500"><a hx-get="/edit-training-form/{{training.id}}" hx-target="#modal-box"
                        hx-swap="outerHTML">Editer</a></li>
                <li class="text-red-500"><a hx-delete="/delete-training/{{training.id}}" hx-target="#modalEvent"
                        hx-swap="outerHTML" hx-confirm="Confirmer la suppression de l'événement ?">Supprimer</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </form>
    <div class="flex flex-col items-center justify-center w-full prose">
        <h3>Entrainement</h3>
        <div class="w-full bg-base-300 p-4">
            <div class="w-full">
                {% if training.allDay %}
                <h4>Jour : </h4>
                <p>{{training.start | french_date_day}}</p>
                {% else %}
                <h4 class="mt-0">Horaires : </h4>
                <p>{{training.start | french_date}} - {{training.end | french_date}}</p>
                {% endif %}
            </div>
            <div class="w-full">
                <h4>Lieu : </h4>
                <p>{{training.place}}</p>
            </div>
            <div class="w-full flex justify-center items-center gap-2">
                {% include "calendar/_trainingActionsBtn.html.twig" %}
            </div>
        </div>
        <div class="flex flex-col w-full border-opacity-50">
            <div class="divider">Coaching : </div>
        </div>
        <div class="w-full">
            <table class="table table-xs sm:table-sm md:table-md lg:table-lg mt-0">
                <thead class="sticky -top-6 z-10">
                    <tr class="bg-base-100">
                        <th class="w-fit">Equipe</th>
                        <th class="w-full">Coach(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in club.teams %}
                    {% include "calendar/_trainingCoaching.html.twig" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex flex-col w-full border-opacity-50">
            <div class="divider">Participant•e•s : </div>
        </div>
        <div class="w-full">
            <table class="table table-xs sm:table-sm md:table-md lg:table-lg w-full mt-0">
                <thead class="sticky -top-6 z-10">
                    <tr class="bg-base-100">
                        <th class="text-center">Nom</th>
                        <th class="text-center">Equipe</th>
                    </tr>
                </thead>
                <tbody id="attendeesBody">
                    {% for attendee in training.attendees if not attendee.coachedTeam %}
                    {% include "calendar/_trainingAttendeeElmt.html.twig" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
