<div class="flex flex-col items-center justify-center min-h-[calc(100vh-5rem)] bg-base-200">
    <div class="overflow-x-auto">
        <table class="table-xs md:table-md lg:table-lg">
            <!-- head -->
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Contact</th>
                    <th>Pointure</th>
                    <th class="hidden md:block">Actions</th>
                </tr>
            </thead>
            {% for attendee in trialAttendees %}
            <tbody hx-confirm="Are you sure?" hx-target="this" hx-swap="outerHTML swap:1s">
                <tr>
                    <td>
                        <div class="flex items-center gap-3">
                            <div class="avatar hidden md:block">
                                <div class="mask mask-squircle w-12 h-12">
                                    <img src="images/avatar.svg" alt="Avatar" />
                                </div>
                            </div>
                            <div class="max-w-20 md:max-w-fit overflow-auto">
                                <div class="font-bold">{{attendee.firstName}} {{attendee.name}}</div>
                                <div class="text-sm opacity-50">Age : {{attendee.age}}</div>
                            </div>
                        </div>
                    </td>
                    <td class="max-w-52 md:max-w-fit overflow-auto">
                        <div>
                            <div class="font-bold">
                                <p class="text-wrap">{{attendee.mail}}</p>
                            </div>
                            <div class="text-sm opacity-50">
                                <p>{{attendee.phone}}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="text-center">{{attendee.shoeSize}}</p>
                    </td>
                    <th class="hidden md:block">
                        <div class="flex flex-col gap-1">
                            <button class="btn btn-primary btn-xs">Inscription</button>
                            <button class="btn btn-error btn-xs"
                                hx-delete="/delete-trial/{{attendee.id}}">Supprimer</button>
                        </div>
                    </th>
                </tr>
                <tr class="md:hidden">
                    <td class="p-0" colspan="3">
                        <div class="collapse">
                            <input type="checkbox" class="min-h-0" />
                            <div class="collapse-title text-xs font-bold py-0 min-h-0 flex">
                                <button class="btn btn-accent btn-xs">Actions</button>
                            </div>
                            <div class="collapse-content py-0">
                                <div class="flex flex-col gap-1 m-1 mx-5">
                                    <button class="btn btn-primary btn-xs">Inscription</button>
                                    <button class="btn btn-error btn-xs">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>


            </tbody>
            {% endfor %}
    </div>

</div>
