<td id="editTeam" colspan="3">
    <form hx-post="/edit-team/{{idTeam}}" hx-target="closest tr" hx-swap="outerHTML" enctype="multipart/form-data"
        class="flex flex-col justify-center items-center gap-2">
        <div class="flex justify-center gap-2 md:gap-4">
            <label class="form-control w-2/3">
                <div class="label">
                    <span class="label-text">Logo</span>
                </div>
                <input type="file" name="logo"
                    class="file-input file-input-sm file-iput-bordered file-input-secondary w-full" />
                <p class="text-red-500">{{errorMulter}}</p>
            </label>
            <label class="form-control w-1/3">
                <div class="label">
                    <span class="label-text">Nom</span>
                </div>
                <input type="text" name="name" placeholder="Nom" class="input input-sm input-bordered w-full max-w-xs"
                    value="{{team.name}}" />
                <p class="text-red-500">{{error.name}}</p>
            </label>
        </div>
        <div id="formErrors"></div>
        <div class="flex flex-col items-center justify-center gap-2 w-1/2">
            <label class="form-control flex justify-center items-center w-full">
                <button class="btn btn-primary btn-sm w-full" type="submit">Modifier l'équipe</button>
            </label>
            <label class="form-control flex justify-center items-center w-full">
                <button class="btn btn-error btn-sm w-full" hx-get="/inline-team/{{team.id}}" hx-target="closest tr"
                    hx-swap="outerHTML">Annuler</button>

            </label>
        </div>
    </form>
</td>
